<article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
  <a class="gh-card-link" href="{{url}}">
    <div class="gh-card-content">
      <span class="gh-card-meta">
        <time datetime="{{date format="YYYY.MM.DD"}}">
          [{{date format="YYYY.MM.DD"}}]
        </time>
        <b class="gh-card-title">{{title}}</b>
      </span>
    </div>
  </a>
</article>