<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <title>{{meta_title}}</title>
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <div class="gh-viewport">
      <header id="gh-head" class="gh-head">
        <nav class="gh-head-inner gh-container">
          <div class="gh-head-brand">
            <a class="gh-head-logo" href="{{@site.url}}">
              {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
              {{else}}
                {{@site.title}}
              {{/if}}
            </a>
            <a class="gh-burger" role="button">
              <div class="gh-burger-box">
                <div class="gh-burger-inner"></div>
              </div>
            </a>
          </div>
          <div class="gh-head-menu">
            {{navigation}}
          </div>
        </nav>
      </header>
      <main class="gh-main">
        {{{body}}}
        {{#if pagination.pages}}
          <div class="gh-paginator">
            <nav class="pagination" role="navigation">
              {{#if pagination.prev}}
                <a class="newer-posts" href="{{page_url pagination.prev}}">&larr; Previous</a>
              {{/if}}
              <span class="page-number">{{pagination.page}} of {{pagination.pages}}</span>
              {{#if pagination.next}}
                <a class="older-posts" href="{{page_url pagination.next}}">Next &rarr;</a>
              {{/if}}
            </nav>
          </div>
        {{/if}}
      </main>
      <footer class="gh-foot">
        <div class="gh-container">
          <div class="gh-foot-meta">
            Hikari - Powered by <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $('.gh-burger').click(function () {
          $('body').toggleClass('gh-head-open');
        });
      });
    </script>
    {{#is "post, page"}}
      <script src="{{asset "built/jquery.fitvids.js"}}"></script>
      <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
          var container = image.closest('.kg-gallery-image');
          var width = image.attributes.width.value;
          var height = image.attributes.height.value;
          var ratio = width / height;
          container.style.flex = ratio + ' 1 0%';
        });
        $(document).ready(function () {
          var $postContent = $(".gh-content");
          $postContent.fitVids();
        });
      </script>
    {{/is}}
    {{ghost_foot}}
  </body>
</html>